*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    padding: 20px;
    color: blue;
}

h2{
    text-align: center;
    padding: 10px;
}
h4{
    padding: 10px;
    text-decoration: underline;
}
.contenido div{
    margin: 20px;
    padding: 10px;
    background-color: rgb(241, 226, 142);
    border: solid 1px #000;
    box-shadow: 9px 6px 14px rgba(0, 0, 0, 0.5);
    display: inline-block;
}